capacitor-google-map {
  display: inline-block;
  width: 97%;
  height: 97%;
  margin: 10px 20px 20px 10px;
}

.container {
  width: 98%;
  height: 98%;
}

//fix map exhibition bug on Android device
ion-content {
  --background: none;
}

.container ion-button {
  margin-left: 25.5%;
}